/*
 *Name: Akshay Banda
 *UnityID: 200277486 
 *Date: 9/29/2018
 *Assignment: Webpages GL
 *Description: Guided Lab Assignment, about my webpage
 */
 
p {
    font-family:Times;
	font-size: 15px;
	color: #00FFFF;
}


#photo-resize {
	
    max-width: 250px ;
	max-height: 300px ;
	
    }
	
.table-border {
    border: 1px solid #CCCCCC;
}

